
.playlist-img {
  width: 100%;
  border-radius: 8px 8px 0px 0;
}

.title {
  position: absolute;
  height: 4em;
  margin-top: -4.0em;
  /* background-color: white; */
  background: rgba(255, 255, 255, 0.5);
  padding-left: 0.4em;
  padding-right: 0.4em;
}

.img-container {
  flex: 1;
  min-width: 10em;
  max-width: 20em;
  padding: 1.2em;
}

.playlist-img-reverse {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  margin-top: -0.4em;
  height: 4em;
  object-fit: cover;
  object-position: 0 100%;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}
